<!-- ======= Footer ======= -->
<footer id="footer">
	<div class="container">
		<div
			class="copyright">
			<!--&copy; Copyright -->
			<strong>
				<span>retailPaula</span>
			</strong>
		</div>
		<div class="credits">
			By Paula Esteve Guarner
		</div>
	</div>
</footer>
<!-- End  Footer -->
